body {
    font-family: Arial, Helvetica, sans-serif;
}

.timer {
    display: flex;
    justify-content: right;
    float: right;
}

h1 {
    text-align: center;
    padding-top: 100px;
}

p {
    text-align: center;
}

button {
    display: flex;
    background-color: purple;
    color: white;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-btn {
    background-color: purple;
    color: white;
    border-radius: 8px;
}

#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
    display: none;
}